.section-center {
  min-height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 120px 120px 0 120px;
  background: var(--c-background);
  position: relative;
  box-sizing: border-box;
  gap: 5vw;
}

.images {
  position: relative;
  flex: 0 0 auto;
  align-self: center;
}

.left-img {
  max-width: 380px;
  border-radius: 50%;
  border-top: 5px solid var(--c-yellow);
  border-right: 25px solid var(--c-yellow);
  border-bottom: 5px solid var(--c-yellow);
  border-left: 0px solid var(--c-yellow);
}

.small-img {
  position: absolute;
  bottom: 260px;
  left: 220px;
  width: 200px;
  /* max-width: 150px; */
  border-radius: 50%;
  border-top: 5px solid var(--c-yellow);
  border-right: 0px solid var(--c-yellow);
  border-bottom: 5px solid var(--c-yellow);
  border-left: 18px solid var(--c-yellow);
}

.text-block {
  flex: 1;
  z-index: 2;
  font-size: 24px;
  width: calc(100% - 550px);;
}

.text-block h1 {
  font-family: "Bowler", sans-serif;
  font-size: 36px;
  margin-bottom: 0;
  /* width: 550px; */
}

.text-block h2 {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  /* width: 550px; */
}

.text-block p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  /* width: 650px; */
}

.brands-and-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 120px 0 0;
  height: 200px;
}

.brands {
  background-color: var(--c-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding: 10px 50px 10px 50px;
  border-radius: 0 70px 70px 0;
  /* position: absolute; */
  bottom: 5vh;
  right: 0;
  max-width: 1980px;
  width: calc(100% - 250px);
  z-index: 1;
  order: 1;
}

.brand-item img {
  height: 100px;
  max-height: 140px;
}

/* .round {
  width: 30vh;
  height: 60vh;
  background-color: var(--c-normal);
  position: relative;
  top: 12vh;
  border-radius: 50vh 0 0 50vh;
  z-index: 1;
} */

.button-round {
  order: 2;
  max-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    circle at 30% 30%,
    var(--c-yellow),
    var(--c-yellow)
  );
  border: none;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25),
    inset 0 4px 6px rgba(255, 255, 255, 0.3),
    inset 0 -4px 6px rgba(0, 0, 0, 0.2);

  transition: all 0.35s ease;
  z-index: 2;
  position: relative;
}

.button-round img {
  width: 55%;
  height: 55%;
  filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.4));
  z-index: 2;
}

/* Когда фиксирована */
.button-round.fixed {
  position: fixed;
  bottom: 60px;
  right: 20px;
  max-width: 80px;
  min-height: 80px;
  transform: scale(0.7);
  background: radial-gradient(
    circle at 30% 30%,
    var(--c-normal),
    var(--c-dark)
  );
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.45),
    inset 0 3px 5px rgba(255, 255, 255, 0.25),
    inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}

/* Ховер */
.button-round:hover {
  transform: scale(1.12) !important;
}

@media (max-width: 1300px) {
  .text-block {
    width: calc(100% - 600px);
  }
  .intro {
    padding: 150px 0 0 50px;
    min-height: 550px;
  }
  .left-img {
    max-width: 300px;
  }
  .small-img {
    bottom: 200px;
    left: 200px;
    width: 150px;
  }

}

/* Бегущая строка */
.marquee {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
}

.marquee-item {
  font-family: "Bowler", sans-serif;
  font-size: 70px;
  font-weight: 900;
  color: var(--c-white);
  text-shadow: 
                1px 1px 0 var(--c-dark),
                -1px 1px 0 var(--c-dark),
                1px -1px 0 var(--c-dark),
                -1px -1px 0 var(--c-dark),
                0 1px 0 var(--c-dark),
                0 -1px 0 var(--c-dark),
                1px 0 0 var(--c-dark),
                -1px 0 0 var(--c-dark);
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 0 40px;
  flex-shrink: 0;
}

/* Эффект градиента по краям
.marquee::before,
.marquee::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
} */

/* .marquee::before {
  left: 0;
  background: linear-gradient(90deg, #000, transparent);
}

.marquee::after {
  right: 0;
  background: linear-gradient(90deg, transparent, #000);
} */

@media (max-width: 1166px) {
  .brands-and-phone {
    padding: 0 20px 0 0;
  }
}

@media (max-width: 1024px) {
  .text-block h1 {
    font-size: 24px;
  }
  .text-block h2 {
    font-size: 18px;
  }
  .text-block p {
    font-size: 14px;
  }
  .small-img {
    left: 170px;
  }
  .brands {
    gap: 10px;
  }
  .brand-item img {
    height: 80px;
    max-height: 100px;
  }
}

@media (max-width: 900px) {
  .text-block {
    width: calc(100% - 40px);
  }
  .text-block h1 {
    font-size: 18px;
  }
  .text-block h2 {
    font-size: 16px;
  }
  .text-block p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    padding: 210px 0 0 0;
    /* position: relative; */
  }
  .images {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .text-block {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
    position: relative;
    margin-top: -120px;
  }
  .text-block h1,
  .text-block h2 {
    color: #fff;
  }
  .text-block p {
    z-index: 10; /* гарантированно выше */
    margin-top: 48px;
    z-index: 1; 
  }
  .round {
    display: none;
  }
  .brands-and-phone{
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding: 0;
    height: auto;
  }
  .brands {
    margin-left: 0;
    border-radius: 0;
    padding: 10px 0;
    justify-content: center;
    width: 100%;
    order: 2;
  }
  .button-round {
    margin-left: 30px;
    order: 1;
  }
  .brand-item img {
    height: 60px;
  }
  .left-img {
    max-width: 768px;
    border-radius: 0%;
    border: 0;
    border-bottom: 15px;
    width: 100%;
  }
  .small-img {
    max-width: 150px;
    bottom: 200px;
    left: 220px;
    z-index: 1;
  }
}

@media (max-width: 420px) {
  .brand-item img {
    height: 50px;
  }
}