section {
  /* min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; */
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 100px 0 0 50px;
  background: white;
  position: relative;
  box-sizing: border-box;
  gap: 5vw; 
}

.images {
  position: relative;
  flex: 0 0 auto;
}

.left-img {
  width: 35vmin;
  max-width: 300px;
  border-radius: 50%;
  border: 1vmin solid #026a63;
}

.small-img {
  position: absolute;
  bottom: -2vmin;
  left: 15vmin;
  width: 20vmin;
  max-width: 150px;
  border-radius: 50%;
  border: 0.8vmin solid #f9b17a;
}

.text-block {
  flex: 1;
  z-index: 2;
  font-size: 2.5vmin;
}

.brands {
  background-color: #026a63;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3vw;
  padding: 10px 0 10px 200px;
  border-radius: 70px 0 0 70px;
  /* position: absolute; */
  bottom: 5vh;
  right: 0;
  width: 100%;
  margin-left: 400px;
}

.brand-item img {
  height: 10vmin;
  max-height: 140px;
}

.round {
  width: 30vh;
  height: 60vh;
  background-color: #026a63;
  position: relative;
  /* right: -10vh; */
  top: 15vh;
  /* border-radius: 50vh; */
  border-radius: 50vh 0 0 50vh;
  z-index: 1;
}

.button-round {
  width: 15vmin;
  height: 15vmin;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background-color: #026a63;
  color: white;
  border: none;
  font-size: 2vmin;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  z-index: 999;
  transition: all 0.6s ease-in-out;
  transform: translate(0, 0) scale(1);
}

.button-round.fixed {
  position: fixed;
  bottom: 60px;
  right: 20px;
  transform: scale(0.7);
  box-shadow: 0 15px 35px rgba(0,0,0,0.4), 0 7px 15px rgba(0,0,0,0.3);
}

.button-round:hover {
  background-color: #03877c;
  transform: scale(0.9);
}

@media (max-width: 1024px) {
  .text-block {
    font-size: 22px;
  }

  .brands {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    padding: 200px 0 0 0;
  }

  .text-block {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .round {
    display: none;
  }

  .brands {
    margin-left: 100px;
    padding: 10px 0 10px 100px;
  }
}
