section {
  min-height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 100px 0 0 50px;
  background: white;
  position: relative;
  box-sizing: border-box;
  gap: 5vw; 
}

.images {
  position: relative;
  flex: 0 0 auto;
}

.left-img {
  width: 35vmin;
  max-width: 300px;
  border-radius: 50%;
  border: 1vmin solid var(--c-normal);
}

.small-img {
  position: absolute;
  bottom: -2vmin;
  left: 15vmin;
  width: 20vmin;
  max-width: 150px;
  border-radius: 50%;
  border: 0.8vmin solid var(--c-yellow);
}

.text-block {
  flex: 1;
  z-index: 2;
  font-size: 2.5vmin;
}

.brands {
  background-color: var(--c-normal);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3vw;
  padding: 10px 0 10px 200px;
  border-radius: 70px 0 0 70px;
  /* position: absolute; */
  bottom: 5vh;
  right: 0;
  width: 100%;
  margin-left: 400px;
}

.brand-item img {
  height: 10vmin;
  max-height: 140px;
}

.round {
  width: 30vh;
  height: 60vh;
  background-color: var(--c-normal);
  position: relative;
  /* right: -10vh; */
  top: 12vh;
  /* border-radius: 50vh; */
  border-radius: 50vh 0 0 50vh;
  z-index: 1;
}


.button-round {
  width: 14vmin;
  height: 14vmin;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at 30% 30%, var(--c-light), var(--c-normal));
  border: none;
  cursor: pointer;

  box-shadow: 
    0 10px 25px rgba(0,0,0,0.25),
    inset 0 4px 6px rgba(255,255,255,0.3),
    inset 0 -4px 6px rgba(0,0,0,0.2);

  transition: all 0.35s ease;
  z-index: 999;
  position: relative;
}

.button-round img {
  width: 55%;
  height: 55%;
  filter: drop-shadow(0 3px 4px rgba(0,0,0,0.4));
}

/* Когда фиксирована */
.button-round.fixed {
  position: fixed;
  bottom: 60px;
  right: 20px;

  transform: scale(0.8);
  background: radial-gradient(circle at 30% 30%, var(--c-normal), var(--c-dark));

  box-shadow: 
    0 15px 35px rgba(0,0,0,0.45),
    inset 0 3px 5px rgba(255,255,255,0.25),
    inset 0 -3px 5px rgba(0,0,0,0.3);
}

/* Ховер */
.button-round:hover {
  transform: scale(1.12) !important;
}



@media (max-width: 1300px) {
  .intro {
    padding: 150px 0 0 50px;
  }
}

@media (max-width: 1024px) {
  .text-block {
    font-size: 22px;
  }

  .brands {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    padding: 250px 0 0 0;
  }

  .text-block {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .round {
    display: none;
  }

  .brands {
    margin-left: 100px;
    padding: 10px 0 10px 100px;
  }

  .button-round {
    margin-left: 30px;
  }

}
