footer {
  background-color: #1c2a24;
  color: white;
  font-family: sans-serif;
  padding: 30px 20px;
  height: 80vh;
  width: 100vw;
  margin: auto 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #026a63;
  padding: 15px 20px;
  border-radius: 0 50px 50px 0;
  margin-bottom: 30px;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: -30px;
}

.footer-top .icon {
  margin-right: 8px;
}

.icon {
  width: 25px;
  height: 28px;
  padding: 5px 10px;
}

.footer-top > div {
  display: flex;
  align-items: center;
  color: white;
  margin: 10px 0;
}

.footer-middle {
  background-color: #1c2a24;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-middle .column {
  width: 45%;
  margin-bottom: 20px;
}

.footer-middle h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-middle li {
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-bottom {
  background-color: #1c2a24;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
}

.footer-logo {
  width: 100px;
}

.map {
  box-shadow: var(--l-box-shadow);
  border-radius: 18px;
  position: relative;
  padding: 15px;
  width: 100vw;
}

.map-image {
  border-radius: 18px;
  max-width: 100%;
}

.map-container {
  background-color: var(--c-white);
  color: var(--c-dark);
  position: absolute;
  left: 2vw;
  top: 10vh;
  padding: 40px;
  border-radius: 18px;
}

.map-container p, h2, h3 {
  margin: 0;
}

.map-container h2, h3 {
  padding-top: 8px;
  padding-bottom: 3px;
}

.map-brands {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .map-content {
      flex-direction: row;
  }

  
  .footer-bottom {
      flex-direction: row;
      justify-content: space-between;
  }

  .map-container {
    position: relative;
    top: -15px;
  }

  .map-image {
    width: 90%;
  }
}

@media (max-width: 1024px) {
    .map-container {
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        top: -15px;
    }
    
    
    .map-image {
      width: 90%;
    }
    
    .brands-container {
        flex-direction: column;
    }
}