footer {
  background-color: var(--c-dark);
  color: white;
  padding: 30px 20px;
  box-sizing: border-box;
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-normal);
  padding: 15px 20px;
  border-radius: 0 50px 50px 0;
  margin-bottom: 30px;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: -30px;
}

.footer-top .icon {
  margin-right: 8px;
}

.icon {
  height: 24px;
  padding: 5px 10px;
}

.footer-top > div {
  display: flex;
  align-items: center;
  color: white;
  margin: 10px 0;
}

.footer-middle {
  background-color: var(--c-dark);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-middle .column {
  width: 45%;
  margin-bottom: 20px;
}

.footer-middle h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--c-white);
}

.footer-middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-middle li {
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-bottom {
  background-color: var(--c-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
}

.footer-logo {
  width: 100px;
}

.footer-hours {
  padding-bottom: 10px;
}

.margin-left {
  margin-left: 90px;
}

.map {
  border-radius: 18px;
  position: relative;
}

.map-image {
  border-radius: 18px;
  width: 100%;
}

.map-container {
  background-color: var(--c-white);
  color: var(--c-dark);
  position: absolute;
  left: 2vw;
  top: 10vh;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4), 0 7px 15px rgba(0, 0, 0, 0.3);
  max-width: 400px;
}

.map-container p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  /* height: 20px; */
}

.map-container h2 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 3px;
  font-size: 22px;
}

.map-container h3 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 18px;
}

.map-container span {
  font-size: 18px;
}

p {
  font-size: 18px;
}

.map-flex {
  display: flex;
  flex-wrap: wrap;
}

.map-brands {
  padding-top: 5px;
  max-width: 90px;
  /* display: flex;
  flex-direction: row; */
}

@media (max-width: 1024px) {
  .map-container {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1024px;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .map-container {
    position: relative;
    padding: 20px;
    top: -40px;
    left: 0;
  }

  .footer {
    padding: 0px 20px;
  }

  .map-image {
    width: 100%;
  }

  .brands-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer-bottom p {
    font-size: 14px;
  }
}

@media (max-width: 512px) {
  .footer-top {
    border-radius: 0; /* убрать скругление, если оно мешает */
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  /* .map-flex {
    display: inline;
  } */

  .footer-middle {
    flex-direction: column;
  }

  .footer-middle .column {
    width: 100%; /* каждая колонка занимает всю ширину */
  }

  .footer-bottom {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-bottom p {
    font-size: 10px;
    width: 200px;
  }

  .footer-logo {
    width: 50px;
  }

  .map-container {
    /* width: 100%; */
    left: 0;
    padding: 20px;
  }
}