/* Общие стили */
.header {
  margin: 0 auto;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.top-bar {
  background-color: #026a63;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 120px 0 0;
}

.top-bar-left {
  background-color: #23322d;
  color: white;
  font-size: 14px;
  padding: 10px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  gap: 24px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.nav-bar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.logo {
  width: 200px;
}

/* Ссылки */
.clickable-contact {
  color: inherit;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s ease;
  display: inline-block;
  font-size: 2vmin;
}

.clickable-contact:hover {
  color: var(--c-yellow);
  text-decoration: underline;
}

/* Меню */
.page-header__nav {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity var(--ease-custom-bezier) 0.6s,
    transform var(--time-animation-m) linear;
  transition-delay: var(--time-animation-xs);
}

.page-header__menu {
  font-family: var(--font-alt);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.0418;
  color: var(--c-light);
}

.page-header__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.page-header__menu li {
  margin-left: 4rem;
}

.page-header__menu a {
  position: relative;
  display: block;
  color: inherit;
  padding: 0 0.5em 0.5em;
  transition: color 0.3s ease;
}

/* Линия под ссылкой */
.page-header__menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--c-dark);
  right: 0;
  transition: width var(--time-animation-m) linear,
    background-color var(--time-animation-m) linear;
}

.page-header__menu a:hover {
  color: var(--c-normal);
}

.page-header__menu a:focus,
.page-header__menu a.active {
  color: var(--c-dark);
}

.page-header__menu a:hover::after,
/* .page-header__menu a:focus::after, */
.page-header__menu a.active::after {
  width: 100%;
  left: 0;
  right: auto;
  background-color: var(--c-dark);
}

/* Тогглер */
/* .page-header__toggler {
  display: none;
  padding: 0;
  margin: 0;
  background: none; 
  border: none; 
  cursor: pointer;
  outline: none; 
  position: relative; 
  width: 2.5rem; 
  height: 2.5rem; 
  font-size: 0; 
  background-color: var(--c-light); 
  border-radius: 50%; 
  z-index: 1;
} */

/* .page-header__toggler::before,
.page-header__toggler::after {
  content: "";
  position: absolute;
  right: 0.8rem;
  height: 1px;
  background-color: var(--c-dark);
}

.page-header__toggler::before {
  top: 0.9rem;
  width: 1rem;
  box-shadow: 0 0.6rem 0 0 var(--c-dark);
}

.page-header__toggler::after {
  top: 1.2rem;
  width: 0.7rem;
}

.page-header--menu-opened .page-header__toggler::before,
.page-header--menu-opened .page-header__toggler::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  width: 2.6rem;
  height: 2px;
  box-shadow: none;
}

.page-header--menu-opened .page-header__toggler::after {
  transform: translate(-50%) rotate(-45deg);
} */

.page-header__toggler {
  display: none !important;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
}

/* Медиа-запросы */
/* Для очень больших экранов */
@media (min-width: 2000px) {
  .page-header__menu {
    font-size: 12px;
  }
  .page-header__menu li {
    margin-left: 40px;
  }
}

@media (max-width: 1166px) {
  .top-bar {
    padding: 0 20px 0 0;
  }
  .top-bar-left {
    padding: 10px 20px;
  }
  .nav-bar {
    padding: 10px 20px;
  }
  .intro {
    padding-left: 20px;
  }
  .page-header__toggler {
    display: block !important;
  }
  .page-header__nav {
    position: fixed;
    inset: 0;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 3.5rem;
    background-color: var(--c-light);
    color: var(--c-dark);
  }
  .page-header--menu-opened .page-header__nav {
    transform: translateX(0);
  }
  .page-header__menu {
    margin: auto 0;
    font-size: 2.4rem;
    color: var(--c-dark);
  }
  .page-header__menu ul {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3.8rem;
  }
  .page-header__menu li {
    margin: 0 0 2.5rem;
  }
}

@media (max-width: 768px) {
  .page-header__nav {
    padding: 2rem 3.5rem;
    overflow-y: auto;
  }
  .page-header__menu {
    font-size: 1.4rem;
  }
  .page-header__menu ul {
    padding-top: 2rem;
  }
  .page-header__menu li {
    margin: 0 0 1.5rem;
  }
  .top-bar-left {
    flex-direction: column;
    min-width: 160px;
  }
  .clickable-contact {
    margin: 0 0 8px;
    font-size: 12px;
  }
}
