html {
  margin: 0;
  height: auto;   
  overflow-x: hidden;
  background: var(--c-background);
}

body {
font-family: "Mulish", Arial, sans-serif;
margin: 0;
padding: 0;
background: var(--c-background);
}

section {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport {
  width: auto;
  height: auto;
  position: static;
  transform: none;
}

.grid {
  width: auto;
  height: auto;
  position: static;
  transform: none;
}

@font-face {
  font-family: "Bowler";
  src: url("../../fonts/Bowler.woff2") format("woff2"),
       url("../../fonts/Bowler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../fonts/Mulish.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}