html {
  margin: 0;
  /* height: 100%; */
  height: auto;   
  overflow-x: hidden;
  background: var(--c-white);
}

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: var(--c-white);
}

.viewport {
  width: auto;
  height: auto;
  position: static;
  transform: none;
}

.grid {
  width: auto;
  height: auto;
  position: static;
  transform: none;
}

.screen {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}