html {
  margin: 0;
  height: auto;   
  overflow-x: hidden;
  background: var(--c-background);
}

body {
font-family: "Mulish", Arial, sans-serif;
margin: 0;
padding: 0;
background: var(--c-background);
}

.viewport {
  width: auto;
  height: auto;
  position: static;
  transform: none;
}

.grid {
  width: auto;
  height: auto;
  position: static;
  transform: none;
}

.screen {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@font-face {
  font-family: "Bowler";
  src: url("../../fonts/Bowler.woff2") format("woff2"),
       url("../../fonts/Bowler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
