.service-section {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0 0 0;
  background: var(--c-background);
  position: relative;
  box-sizing: border-box;
  gap: 0;
  padding-right: 15px;
}

.services-list {
  /* min-height: 100vh; */
  width: 100%;
  list-style: none;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-bg {
  z-index: 1;
  width: 50vh;
  height: 50vh;
  left: 20px;
  position: relative;
}

.service-title {
  position: relative;
  color: #f5f5f5;
  font-size: 36px;
  margin-bottom: 50px;
  margin-left: 60px;
  z-index: 1;
  color: #f5f5f5;
  font-size: 36px;
  margin-bottom: 50px;
}

.service-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-left: calc(var(--offset));
  transition: all 0.3s ease;
  z-index: 1;
}

.service-item .icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--c-white);
  border: 5px solid var(--c-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-item .icon img {
  /* width: 72px;  */
  height: 68px;
  color: #004d4a;
}

.service-item .text {
  margin-left: 20px;
  max-width: 700px;
  /* max-width: 95vw; */
  /* max-width: calc(100vw - 300px); */
}

.service-item h3 {
  margin: 0 0 8px;
  color: #333;
  font-size: 18px;
}

.service-item p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  max-height: 40px;      /* высота свернутого состояния */
  overflow: hidden;
  transition: max-height .4s ease;
  position: relative;
}

/* Затемнение внизу при обрезании */
.service-item p.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
  pointer-events: none;
}

/* Кнопка */
.service-toggle {
  margin-top: 8px;
  font-size: 14px;
  color: var(--c-normal);
  cursor: pointer;
  /* user-select: none; */
  display: inline-block;
}


@media (max-width: 968px) {
  .service-section {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .circle-bg {
    width: 40vh;
    height: 40vh;
    left: 0;
  }

  .service-item {
    --offset: 0% !important;
  }

  .image{
    width: 100%;
  }
}
