:root {
    --c-light: #A8CFFF;
    --c-normal: #4DA8DA;
    --c-dark: #0A3D62;
    --c-text: #000;
    --c-white: #fff;
    --c-background: #f8f8f8;
    --c-yellow: #fba95f;
    --c-silver: #D3D8DE;
    
/* 
    --font: "Proxima Nova", "Arial", sans-serif;
    --font-alt: "Radical",  "Arial", sans-serif; */

    --wide-screen: "min-aspect-ratio: 1680/650";

    --wider: "min-aspect-ratio: 1441/760";
    --narrower: "max-aspect-ratio: 1439/760";

    --retina-dpi: 144dpi;
    --retina-dppx: 1.5dppx;

    --index: 1.38871;

    --ease-custom-bezier: cubic-bezier(.5,.8,.5,.8);
    --flash-custom-bezier: cubic-bezier(0, .90, .75, 1.5);

    --time-animation-xs: .1s;
    --time-animation-s: .3s;
    --time-animation-m: .5s;
    --time-animation-l: 1s;
    --time-animation-xl: 1.5s;

    --l-box-shadow: 0 12px 24px 0 rgba(21, 18, 51, 0.2); 
}
